.wr-c-location-search-and-setting {
  box-sizing: content-box;
  padding-top: 3.375rem;
}
.wr-c-location-search-and-setting--masthead {
  padding-top: 7rem;
}
.wr-c-location-search-and-setting .ls-ui-ctrl-primary {
  padding: 0;
  margin-top: -3.375rem;
}
.wr-c-location-search-and-setting .ls-ui-ctrl-primary.ls-ui-ctrl-geolocation {
  margin-top: 0;
}
.wr-c-location-search-and-setting
  .ls-ui-ctrl-primary
  .ls-ui-ctrl-primary-search {
  margin-top: 0;
}
.wr-c-location-search-and-setting .ls-c-search__submit:hover,
.wr-c-location-search-and-setting .ls-c-search__submit:focus,
.wr-c-location-search-and-setting .ls-c-search__submit:active,
.wr-c-location-search-and-setting .ls-ui-comp-close_button:hover,
.wr-c-location-search-and-setting .ls-ui-comp-close_button:focus,
.wr-c-location-search-and-setting .ls-ui-comp-close_button:active {
  color: #067eb3;
}
.wr-c-location-search-and-setting--masthead .ls-c-search {
  overflow-x: hidden;
}
.wr-c-location-search-and-setting--masthead .ls-c-search .ls-c-search__input,
.wr-c-location-search-and-setting--masthead .ls-c-search .ls-c-search__submit {
  background-color: #fff;
}
.wr-c-location-search-and-setting--masthead .ls-c-search .ls-c-search__input {
  text-overflow: ellipsis;
  padding: 0 0.5rem;
}
.wr-c-location-search-and-setting--masthead
  .ls-c-search
  .ls-c-search__input::placeholder {
  color: #545658;
}
.wr-c-location-search-and-setting .ls-c-search_results {
  margin-top: 0.5rem;
}
.wr-c-location-search-and-setting .ls-c-geolocation {
  background-color: #3a3c3e;
}
.wr-c-location-search-and-setting--masthead .ls-c-geolocation {
  background-color: rgba(20, 20, 20, 0.7);
}
.wr-c-location-search-and-setting
  .ls-ui-ctrl-active
  .ls-c-search
  .ls-c-search__input,
.wr-c-location-search-and-setting
  .ls-ui-ctrl-open
  .ls-c-search
  .ls-c-search__input {
  color: #202224;
  background-color: #f6f6f6;
}
.wr-c-location-search-and-setting
  .ls-ui-ctrl-active
  .ls-c-search
  .ls-c-search__submit,
.wr-c-location-search-and-setting
  .ls-ui-ctrl-open
  .ls-c-search
  .ls-c-search__submit {
  background-color: #f6f6f6;
}
.wr-c-location-search-and-setting .ls-ui-ctrl-active .ls-c-geolocation,
.wr-c-location-search-and-setting .ls-ui-ctrl-open .ls-c-geolocation {
  background-color: #3a3c3e;
}
@media screen and (min-width: 37.5em) {
  .wr-c-location-search-and-setting {
    padding-top: 0;
  }
  .wr-c-location-search-and-setting .ls-ui-ctrl-primary {
    padding-top: 0;
    margin-top: 0;
  }
  .wr-c-location-search-and-setting .ls-c-auto_complete,
  .wr-c-location-search-and-setting .ls-ui-message,
  .wr-c-location-search-and-setting .ls-c-search_results {
    width: auto !important;
    margin-right: 3.1875rem;
  }
  .wr-c-location-search-and-setting .ls-ui-ctrl-geolocation .ls-c-auto_complete,
  .wr-c-location-search-and-setting .ls-ui-ctrl-geolocation .ls-ui-message,
  .wr-c-location-search-and-setting
    .ls-ui-ctrl-geolocation
    .ls-c-search_results {
    margin-right: 6.5rem;
  }
}
@media screen and (min-width: 80em) {
  .wr-c-location-search-and-setting .ls-ui-ctrl-primary .ls-ui-o {
    max-width: 78rem;
  }
}
.ls-o-btn {
  border: 0 none;
  text-decoration: none;
  cursor: pointer;
  transition:
    color 0.1s ease-out,
    background-color 0.1s ease-in;
}
.ls-o-btn:hover,
.ls-o-btn:focus,
.ls-o-btn:active {
  background-color: #0078ff;
}
.ls-o-btn--right {
  position: absolute;
  top: 0;
  right: 0;
}
.ls-o-btn--left {
  position: absolute;
  top: 0;
  left: 0;
}
.ls-o-btn--icon-inline {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.75rem;
  width: 2.75rem;
  cursor: pointer;
  border: solid 0.0625rem rgba(0, 0, 0, 0);
}
.ls-o-btn--icon-inline svg {
  height: 1.25rem;
  width: 1.25rem;
}
.ls-o-btn--clear-all {
  background-color: #fff;
  color: #141414;
  display: block;
  padding: 0;
}
.ls-o-btn--clear-all:hover,
.ls-o-btn--clear-all:focus,
.ls-o-btn--clear-all:active {
  color: #141414;
  background-color: #fff;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.25em;
}
.ls-o-header {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  border-bottom: 0.0625rem solid #b0b2b4;
  color: #545658;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-top: 1rem;
  min-height: 3.125rem;
}
.ls-o-icon--loading {
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ls-o-link {
  color: #545658;
  text-decoration: none;
}
.ls-o-link:hover,
.ls-o-link:focus,
.ls-o-link:active {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.25em;
}
.ls-o-link--with-icon {
  display: flex;
  align-items: center;
}
.ls-o-link__icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  color: #545658;
  flex: 0 0 1em;
  margin-right: 0.6rem;
}
.ls-o-link__icon svg {
  height: 1rem;
  width: 1rem;
}
.ls-o-location-message {
  display: block;
  padding: 0.75rem 1rem;
  padding: 0.75rem 1rem;
}
.ls-o-location {
  border: solid 0.0625rem rgba(0, 0, 0, 0);
  color: #141414;
  display: block;
  padding: 0.6875rem 1rem;
  text-decoration: none;
}
.ls-o-location:hover,
.ls-o-location:focus,
.ls-o-location:active {
  text-decoration: none;
  background-color: #f6f6f6;
}
.ls-o-location--dark {
  color: #202224;
}
.ls-o-location--dark:hover,
.ls-o-location--dark:focus,
.ls-o-location--dark:active {
  background-color: #202224;
  color: #f6f6f6;
}
.ls-o-location--dark.ls-o-location--active {
  background-color: #202224;
  color: #f6f6f6;
}
.ls-o-location--home {
  padding-left: 3.0625rem;
  padding-right: 2.75rem;
}
.ls-o-location--home__icon-home {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.75rem;
  width: 2.75rem;
  position: absolute;
  left: 0.4375rem;
  top: 0;
}
.ls-o-location--home__icon-home svg {
  height: 1.25rem;
  width: 1.25rem;
}
.ls-o-id-signin {
  color: #141414;
  z-index: 1;
  position: relative;
  padding: 1rem;
}
.ls-o-id-signin h4 {
  margin: 0 2.5rem 0 0;
}
.ls-o-id-signin .ls-c-popover__cta,
.ls-o-id-signin .ls-c-id-signin__cta {
  position: relative;
  margin: 1rem 0;
}
.ls-o-id-signin .ls-c-popover__description-and-prompt,
.ls-o-id-signin .ls-c-popover__description,
.ls-o-id-signin .ls-c-popover__prompt,
.ls-o-id-signin .ls-c-id-signin__description-and-prompt,
.ls-o-id-signin .ls-c-id-signin__description,
.ls-o-id-signin .ls-c-id-signin__prompt {
  margin: 1rem 0;
}
.ls-o-id-signin .ls-c-popover__cta-register,
.ls-o-id-signin .ls-c-id-signin__cta-register {
  color: #0064e6;
  font-weight: 800;
  text-decoration: none;
}
.ls-o-id-signin .ls-c-popover__cta-register:hover,
.ls-o-id-signin .ls-c-popover__cta-register:focus,
.ls-o-id-signin .ls-c-popover__cta-register:active,
.ls-o-id-signin .ls-c-id-signin__cta-register:hover,
.ls-o-id-signin .ls-c-id-signin__cta-register:focus,
.ls-o-id-signin .ls-c-id-signin__cta-register:active {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.25em;
}
.ls-o-id-signin .ls-c-popover__link,
.ls-o-id-signin .ls-c-id-signin__link {
  font-weight: bold;
}
.ls-o-id-signin .ls-c-popover__title,
.ls-o-id-signin .ls-c-id-signin__title {
  margin: 0;
  margin-right: 2.5rem;
}
.ls-o-toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.75rem;
  width: 2.75rem;
  cursor: pointer;
  border: solid 0.0625rem rgba(0, 0, 0, 0);
  width: auto;
  color: #141414;
  background-color: #f6f6f6;
  margin: 0 auto 0.5rem auto;
  padding: 0 0 0 1rem;
  height: 2.75rem;
  cursor: pointer;
}
.ls-o-toggle svg {
  height: 1.25rem;
  width: 1.25rem;
}
.ls-o-toggle__label {
  flex: 0 0 auto;
  line-height: 2.75rem;
}
.ls-o-toggle__icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.75rem;
  width: 2.75rem;
}
.ls-o-toggle__icon svg {
  height: 1.25rem;
  width: 1.25rem;
}
.ls-o-toggle__icon svg {
  flex: 0 0 1rem;
  height: 1rem;
}
.ls-o-toggle__icon--show-more,
.ls-o-toggle__icon--show-less {
  display: none;
}
.ls-o-toggle--up .ls-o-toggle__icon--show-less,
.ls-o-toggle--down .ls-o-toggle__icon--show-more {
  display: flex;
}
.ls-o-toggle::after {
  display: block;
  content: "";
  border-bottom: 0.0625rem solid #e6e8ea;
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: 2.75rem;
}
.ls-o-toggle:hover,
.ls-o-toggle:focus,
.ls-o-toggle:active {
  background-color: #141414;
  color: #f6f6f6;
}
.ls-o-toggle--hidden {
  display: none;
  visibility: hidden;
}
.ls-ui-comp-close_button {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.75rem;
  width: 2.75rem;
  cursor: pointer;
  border: solid 0.0625rem rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  color: #141414;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  cursor: pointer;
}
.ls-ui-comp-close_button svg {
  height: 1.625rem;
  width: 1.625rem;
}
.ls-ui-comp-close_button:hover,
.ls-ui-comp-close_button:focus,
.ls-ui-comp-close_button:active {
  color: #0078ff;
}
.ls-ui-comp-dialog {
  padding: 1rem;
  background: #e6e8ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ls-ui-comp-dialog p {
  padding: 0;
  margin: 0;
  font-size: 1.4em;
  line-height: 1.3;
  color: #141414;
  word-wrap: break-word;
}
.ls-ui-comp-dialog button {
  min-width: 5rem;
  height: 2.75rem;
  color: #f6f6f6;
  cursor: pointer;
  background: #3a3c3e;
  border: none;
  border: solid rgba(0, 0, 0, 0) 0.0625rem;
  padding: 0 0.5rem;
}
.ls-ui-comp-dialog button:hover,
.ls-ui-comp-dialog button:focus,
.ls-ui-comp-dialog button:active {
  background: #141414;
}
.ls-ui-comp-dialog .ls-ui-comp-dialog-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 37.5em) {
  .ls-ui-comp-dialog .ls-ui-comp-dialog-buttons {
    margin-left: auto;
  }
}
.ls-ui-comp-dialog .ls-ui-comp-dialog-remove-label {
  background: rgba(0, 0, 0, 0);
  width: auto;
  color: #141414;
  text-align: right;
}
@media (min-width: 37.5em) {
  .ls-ui-comp-dialog {
    flex-direction: row;
  }
}
.ls-c-geolocation {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.75rem;
  width: 2.75rem;
  cursor: pointer;
  border: solid 0.0625rem rgba(0, 0, 0, 0);
  background-color: #141414;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: flex-start;
  padding: 0 0.75rem 0 1rem;
  position: relative;
  width: 100%;
}
.ls-c-geolocation svg {
  height: 1.25rem;
  width: 1.25rem;
}
.ls-c-geolocation:hover,
.ls-c-geolocation:focus,
.ls-c-geolocation:active {
  background-color: #3a3c3e;
}
.ls-c-geolocation[aria-disabled] {
  background-color: #545658;
  cursor: not-allowed;
}
.ls-c-geolocation__label {
  color: #f6f6f6;
  flex: 0 0 auto;
  line-height: 2.75rem;
}
.ls-c-geolocation svg {
  flex: 0 0 1.625rem;
  height: 1.625rem;
  margin-left: auto;
}
@media (min-width: 37.5em) {
  .ls-c-geolocation {
    justify-content: center;
    padding: 0;
    width: 2.75rem;
    height: 2.75rem;
  }
  .ls-c-geolocation__label {
    display: none;
  }
  .ls-c-geolocation svg {
    margin: 0;
  }
}
.ls-c-geolocation--wide {
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 0.75rem;
  width: 100%;
}
.ls-c-geolocation--wide .ls-c-geolocation__label {
  display: block;
}
.ls-c-geolocation--wide svg {
  margin-left: auto;
}
.ls-c-id-signin {
  background-color: #f6f6f6;
}
.ls-c-id-signin h4 {
  max-width: 40ch;
}
.ls-c-id-signin__description-and-prompt {
  max-width: 56ch;
}
.ls-c-locations-list {
  position: relative;
}
.ls-c-locations-list--hidden {
  display: none !important;
  visibility: hidden !important;
}
.ls-c-locations-list__close-btn {
  background: rgba(0, 0, 0, 0);
  color: #3a3c3e;
}
.ls-c-locations-list__close-btn:hover,
.ls-c-locations-list__close-btn:focus,
.ls-c-locations-list__close-btn:active {
  background-color: #3a3c3e;
  color: #fff;
}
.ls-c-locations-list__close-btn[aria-disabled],
.ls-c-locations-list__close-btn[disabled] {
  color: #b0b2b4;
  cursor: not-allowed;
}
.ls-c-locations-list__close-btn[aria-disabled]:hover,
.ls-c-locations-list__close-btn[aria-disabled]:focus,
.ls-c-locations-list__close-btn[aria-disabled]:active,
.ls-c-locations-list__close-btn[disabled]:hover,
.ls-c-locations-list__close-btn[disabled]:focus,
.ls-c-locations-list__close-btn[disabled]:active {
  background-color: rgba(0, 0, 0, 0);
  color: #b0b2b4;
}
.ls-c-locations-list-list {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
.ls-c-locations-list-item {
  position: relative;
  border-bottom: 0.0625rem solid #e6e8ea;
}
.ls-c-locations-list-item .ls-o-location {
  padding-right: 2.75rem;
}
.ls-c-locations-list-item--hidden {
  display: none;
  visibility: hidden;
}
.ls-c-locations-list__clear-all-btn {
  margin-left: auto;
  height: 2.5rem;
  width: 5.5rem;
  background: rgba(0, 0, 0, 0);
}
.ls-ui-comp-user_locations .ls-ui-comp-user_locations-location-with-dialog {
  padding: 0;
}
.ls-ui-comp-user_locations-location-with-dialog
  .ls-ui-comp-user_locations-action,
.ls-ui-comp-user_locations-location-with-dialog .ls-ui-comp-user_locations-name,
.ls-ui-comp-user_locations-location-with-dialog
  .ls-ui-comp-user_locations-remove {
  display: none;
}
.ls-c-message {
  z-index: 9999;
  position: relative;
  color: #141414;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.ls-c-message__content {
  margin: 0;
}
.ls-c-message__content--active {
  padding: 0.8125rem 1rem 0.75rem 0.8125rem;
  border-bottom: 0.0625rem solid #f6f6f6;
}
.ls-c-message--closeable {
  color: #fff;
  background-color: #d43159;
}
.ls-c-message--closeable .ls-c-message__content {
  padding: 0.8125rem 3.75rem 0.8125rem 0.8125rem;
  border-bottom: 0;
}
.ls-c-message--sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.ls-c-message--sticky .ls-c-message__container {
  position: relative;
  max-width: 61rem;
  margin: 0 auto;
}
.ls-c-message .ls-c-message__close-btn {
  background: rgba(0, 0, 0, 0);
  color: #fff;
}
.ls-c-message .ls-c-message__close-btn:hover,
.ls-c-message .ls-c-message__close-btn:focus,
.ls-c-message .ls-c-message__close-btn:active {
  background-color: #fff;
  color: #3a3c3e;
}
.ls-c-search {
  position: relative;
  margin: 0;
}
.ls-c-search__container {
  margin: 0 2.75rem 0 0;
}
.ls-c-search__input {
  display: block;
  width: 100%;
  height: 2.75rem;
  padding: 0.625rem 1rem;
  margin: 0 2.75rem 0 0;
  color: #202224;
  background: #f6f6f6;
  border-radius: 0;
  border: solid 0.0625rem rgba(0, 0, 0, 0);
  outline: none;
  box-sizing: border-box;
}
.ls-c-search__input::placeholder {
  color: #141414;
}
.ls-c-search__clear-button {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.75rem;
  width: 2.75rem;
  cursor: pointer;
  border: solid 0.0625rem rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  color: #141414;
  position: absolute;
  top: -0.125rem;
  right: 2.875rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  margin-top: 0.125rem;
}
.ls-c-search__clear-button svg {
  height: 1.25rem;
  width: 1.25rem;
}
.ls-c-search__clear-button:hover,
.ls-c-search__clear-button:focus,
.ls-c-search__clear-button:active {
  color: #0078ff;
}
.ls-c-search--clear .ls-c-search__clear-button {
  display: flex;
}
.ls-c-search__submit {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.75rem;
  width: 2.75rem;
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 0);
  color: #141414;
  background-color: #f6f6f6;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  cursor: pointer;
}
.ls-c-search__submit svg {
  height: 1.5rem;
  width: 1.5rem;
}
@media screen and (forced-colors: active) {
  .ls-c-search__submit {
    border: solid rgba(0, 0, 0, 0) 0.0625rem;
  }
}
.ls-c-search__submit:hover,
.ls-c-search__submit:focus,
.ls-c-search__submit:active {
  color: #0078ff;
}
@media (min-width: 37.5em) {
  .ls-ui-comp-search .ls-ui-input {
    font-size: 1.4em;
  }
}
.ls-ui-comp-search_results {
  color: #141414;
  background-color: #fff;
}
.ls-ui-comp-search_results ul {
  padding: 0;
  margin: 0;
}
.ls-ui-comp-search_results .ls-ui-comp-search_results-with_results ul {
  margin: 0 0 1rem 0;
}
.ls-ui-comp-search_results a {
  display: block;
  color: #141414;
  text-decoration: none;
}
.ls-ui-comp-search_results li {
  padding: 0;
  margin: 0;
  font-size: 1.4em;
  color: #141414;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.ls-ui-comp-search_results .ls-ui-comp-search_results-more {
  display: none;
  width: 100%;
  padding: 0;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 2.75rem;
  color: #141414;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #f6f6f6;
  border: none;
}
.ls-ui-comp-search_results .ls-ui-comp-search_results-active {
  display: block;
}
.ls-ui-comp-search_results-with_results {
  margin-top: 0.5rem;
}
.li-c-user-profile-location__row {
  position: relative;
  border-top: 0.0625rem solid #b0b2b4;
  border-bottom: 0.0625rem solid #e6e8ea;
}
.li-c-user-profile-location__icon-edit {
  background: rgba(0, 0, 0, 0);
  color: #3a3c3e;
}
.li-c-user-profile-location__icon-edit:hover,
.li-c-user-profile-location__icon-edit:focus,
.li-c-user-profile-location__icon-edit:active {
  background-color: #3a3c3e;
  color: #fff;
}
@media screen and (forced-colors: active) {
  .li-c-user-profile-location__icon-edit {
    background-color: ButtonFace;
    color: ButtonText;
  }
}
@media screen and (forced-colors: active) {
  .li-c-user-profile-location__icon-edit:hover,
  .li-c-user-profile-location__icon-edit:focus,
  .li-c-user-profile-location__icon-edit:active {
    background-color: ButtonText;
    color: ButtonFace;
  }
}
.cf::before,
.cf::after {
  content: " ";
  display: table;
}
.cf::after {
  clear: both;
}
.ls-u-padding {
  padding: 0.5rem;
}
.ls-u-padding-double {
  padding: 1rem;
}
.ls-u-padding-triple {
  padding: 1.5rem;
}
.ls-u-hidden {
  position: absolute;
  overflow: hidden;
  margin: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.ls-u-is-hidden {
  display: none !important;
}
.ls-ui-ctrl-primary {
  padding: 1.25rem 0.5rem;
}
.ls-ui-ctrl-primary .ls-ui-o {
  position: relative;
}
.ls-ui-ctrl-primary .ls-ui-o .ls-ui-hidden {
  display: none;
}
.ls-ui-ctrl-primary .ls-ui-o a {
  font-size: initial;
}
.ls-ui-ctrl-primary .ls-c-search_results,
.ls-ui-ctrl-primary .ls-c-auto_complete {
  width: calc(100% - 3.25rem);
}
.ls-ui-ctrl-primary .ls-c-message {
  width: 100%;
}
@media (max-width: 37.5em) {
  .ls-ui-ctrl-primary .ls-c-search_results,
  .ls-ui-ctrl-primary .ls-c-auto_complete,
  .ls-ui-ctrl-primary .ls-c-message {
    width: 100%;
  }
}
.ls-ui-ctrl-primary .ls-ui-ctrl-primary-search {
  margin-top: 3.375rem;
}
.ls-ui-ctrl-primary .ls-c-geolocation {
  display: none;
}
.ls-ui-ctrl-primary .ls-ui-comp-user_locations {
  display: none;
}
.ls-ui-ctrl-primary .ls-ui-comp-close_button {
  position: absolute;
  top: -3.375rem;
  right: 0;
  display: none;
}
.ls-ui-ctrl-active {
  background: #fff;
}
.ls-ui-ctrl-active .ls-ui-comp-close_button {
  display: flex;
}
.ls-ui-ctrl-active .site-name {
  color: #000;
}
.ls-ui-ctrl-active .ls-ui-comp-search .ls-ui-input,
.ls-ui-ctrl-active .ls-ui-comp-search .ls-ui-submit {
  background-color: #f6f6f6;
}
.ls-ui-ctrl-active .ls-ui-comp-user_locations {
  display: block;
}
.ls-ui-ctrl-active .ls-ui-personalisation-container {
  display: block;
}
.ls-ui-personalisation-container {
  display: none;
}
.ls-ui-ctrl-geolocation .ls-ui-ctrl-primary-search {
  margin-top: 7rem;
}
.ls-ui-ctrl-geolocation .ls-c-geolocation {
  position: absolute;
  top: -3.375rem;
  display: flex;
}
.ls-ui-ctrl-geolocation .ls-ui-comp-close_button {
  top: -7rem;
}
@media (min-width: 25em) {
  .ls-ui-ctrl-primary {
    padding: 1.25rem 1rem;
  }
}
@media (min-width: 37.5em) {
  .ls-ui-ctrl-primary .ls-ui-ctrl-primary-search {
    margin: 0.3125rem 0 0 0;
  }
  .ls-ui-ctrl-primary .ls-ui-comp-close_button {
    top: 0;
    right: 0;
  }
  .ls-ui-ctrl-active .ls-ui-ctrl-primary-search {
    margin-right: 3.25rem;
  }
  .ls-ui-ctrl-open .ls-ui-ctrl-primary-search {
    margin-right: 0;
  }
  .ls-ui-ctrl-geolocation .ls-ui-ctrl-primary-search,
  .ls-ui-ctrl-geolocation .ls-ui-comp-search_results,
  .ls-ui-ctrl-geolocation .ls-ui-comp-message,
  .ls-ui-ctrl-geolocation .ls-ui-comp-auto_complete {
    margin-right: 3.25rem;
  }
  .ls-ui-ctrl-geolocation .ls-c-geolocation {
    top: 0;
    right: 0;
  }
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-active .ls-ui-ctrl-primary-search,
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-active .ls-ui-comp-search_results,
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-active .ls-ui-comp-message,
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-active .ls-ui-comp-auto_complete {
    margin-right: 6.5rem;
  }
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-active .ls-ui-comp-message {
    padding-left: 1rem;
  }
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-active .ls-c-geolocation {
    position: absolute;
    top: 0;
    right: 3.125rem;
  }
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-open .ls-ui-ctrl-primary-search,
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-open .ls-ui-comp-search_results,
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-open .ls-ui-comp-message,
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-open .ls-ui-comp-auto_complete {
    margin-right: 3.25rem;
  }
  .ls-ui-ctrl-geolocation.ls-ui-ctrl-open .ls-c-geolocation {
    right: 0;
  }
}
@media (min-width: 63em) {
  .ls-ui-ctrl-primary .ls-ui-o {
    max-width: 61rem;
    margin: 0 auto;
  }
}
.ls-c-primary__info-link {
  margin-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.wr-c-search {
  box-sizing: content-box;
  display: block;
  max-width: 32rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.wr-c-search--no-personalisation .ls-ui-personalisation-container {
  display: none !important;
}
.wr-c-weather-logo {
  display: inline-block;
  line-height: 0;
  color: #fff;
  margin-top: 1.0625rem;
  margin-bottom: 1.125rem;
}
.wr-c-weather-logo__svg {
  width: 10.8125rem;
  height: 1.5625rem;
  fill: currentColor;
}
@media screen and (min-width: 37.5em) {
  .wr-c-weather-logo__svg {
    width: 12.5rem;
    height: 1.8125rem;
  }
}
.wr-c-navigation {
  margin: 0;
  height: 0;
}
.wr-c-navigation__item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wr-c-navigation__link {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  display: block;
  height: 2.625rem;
  width: 2.625rem;
  margin-left: 0.0625rem;
  padding: 0;
  cursor: pointer;
}
.wr-c-navigation__link--search {
  color: #fff;
  fill: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wr-c-navigation__link--search svg {
  height: 2rem;
  width: 2rem;
}
.wr-c-masthead {
  position: relative;
  min-height: 3.75rem;
}
.wr-c-masthead__wrap {
  background: #067eb3;
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
}
.wr-c-masthead__inner {
  padding: 0.5rem;
  position: relative;
  min-height: 3.75rem;
}
.wr-c-masthead__weather-logo {
  position: absolute;
  top: 0;
  z-index: 1;
}
.wr-c-masthead .wr-c-search {
  display: none;
  max-width: none;
  padding: 0;
  margin: 0;
}
.wr-c-masthead__navigation {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.wr-c-masthead--open .wr-c-masthead__wrap {
  background-color: #fff;
  color: #545658;
  box-shadow: 0 0.125rem 0.9375rem rgba(0, 0, 0, 0.15);
  z-index: 1000;
}
.wr-c-masthead--open .wr-c-weather-logo__svg {
  color: #000;
}
@media screen and (forced-colors: active) {
  .wr-c-masthead--open .wr-c-weather-logo__svg {
    background-color: Canvas;
    color: LinkText;
  }
}
.wr-c-masthead--open .wr-c-search {
  display: block;
  padding-bottom: 1rem;
}
.wr-c-masthead--open .wr-c-masthead__navigation {
  display: none;
}
.wr-c-masthead--lang-en .wr-c-weather-logo__svg {
  width: 10.8125rem;
}
.wr-c-masthead--lang-cy .wr-c-weather-logo__svg {
  width: 12.125rem;
}
.wr-c-masthead--lang-ga .wr-c-weather-logo__svg {
  width: 7.0625rem;
}
.wr-c-masthead--lang-gd .wr-c-weather-logo__svg {
  width: 7.0625rem;
}
@media screen and (min-width: 25em) {
  .wr-c-masthead__inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .wr-c-masthead .wr-c-search,
  .wr-c-masthead__navigation {
    right: 1rem;
  }
}
@media screen and (min-width: 37.5em) {
  .wr-c-masthead {
    min-height: 4rem;
  }
  .wr-c-masthead__inner {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    min-height: 4rem;
  }
  .wr-c-masthead .wr-c-search {
    display: block;
  }
  .wr-c-masthead__navigation {
    display: none;
  }
  .wr-c-masthead--lang-en .wr-c-weather-logo__svg {
    width: 12.5rem;
  }
  .wr-c-masthead--lang-en .wr-c-location-search-and-setting .ls-c-search,
  .wr-c-masthead--lang-en .wr-c-location-search-and-setting .ls-c-geolocation,
  .wr-c-masthead--lang-en .wr-c-location-search-and-setting .ls-ui-message,
  .wr-c-masthead--lang-en
    .wr-c-location-search-and-setting
    .ls-c-search_results,
  .wr-c-masthead--lang-en
    .wr-c-location-search-and-setting
    .ls-c-auto_complete {
    margin-left: 15rem;
  }
  .wr-c-masthead--lang-cy .wr-c-weather-logo__svg {
    width: 13.9375rem;
  }
  .wr-c-masthead--lang-cy .wr-c-location-search-and-setting .ls-c-search,
  .wr-c-masthead--lang-cy .wr-c-location-search-and-setting .ls-c-geolocation,
  .wr-c-masthead--lang-cy .wr-c-location-search-and-setting .ls-ui-message,
  .wr-c-masthead--lang-cy
    .wr-c-location-search-and-setting
    .ls-c-search_results,
  .wr-c-masthead--lang-cy
    .wr-c-location-search-and-setting
    .ls-c-auto_complete {
    margin-left: 16.4375rem;
  }
  .wr-c-masthead--lang-ga .wr-c-weather-logo__svg {
    width: 8.1875rem;
  }
  .wr-c-masthead--lang-ga .wr-c-location-search-and-setting .ls-c-search,
  .wr-c-masthead--lang-ga .wr-c-location-search-and-setting .ls-c-geolocation,
  .wr-c-masthead--lang-ga .wr-c-location-search-and-setting .ls-ui-message,
  .wr-c-masthead--lang-ga
    .wr-c-location-search-and-setting
    .ls-c-search_results,
  .wr-c-masthead--lang-ga
    .wr-c-location-search-and-setting
    .ls-c-auto_complete {
    margin-left: 10.6875rem;
  }
  .wr-c-masthead--lang-gd .wr-c-weather-logo__svg {
    width: 8.1875rem;
  }
  .wr-c-masthead--lang-gd .wr-c-location-search-and-setting .ls-c-search,
  .wr-c-masthead--lang-gd .wr-c-location-search-and-setting .ls-c-geolocation,
  .wr-c-masthead--lang-gd .wr-c-location-search-and-setting .ls-ui-message,
  .wr-c-masthead--lang-gd
    .wr-c-location-search-and-setting
    .ls-c-search_results,
  .wr-c-masthead--lang-gd
    .wr-c-location-search-and-setting
    .ls-c-auto_complete {
    margin-left: 10.6875rem;
  }
}
@media screen and (min-width: 63em) {
  .wr-c-masthead__inner {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 61rem;
  }
  .wr-c-masthead .wr-c-search,
  .wr-c-masthead__navigation {
    right: 0;
  }
}
@media screen and (min-width: 80em) {
  .b-pw-1280 .wr-c-masthead__inner {
    max-width: 78rem;
  }
}
