:root {
  --header-height: 100px;
}
body {
  padding: 0%;
  margin: 0%;
}

#title-div {
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}
#menu-btn {
  font-size: 40px;
  padding-right: 10px;
  cursor: pointer;
}
#menu-panel {
  position: absolute;
  background-color: burlywood;
  top: var(--header-height);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#search-container {
  display: flex;
  height: 35px;
}
#search-input {
  height: 35px;
  box-sizing: border-box;
  vertical-align: middle;
  border: none;
  font-size: inherit;
  padding: 10px;
}
/* Search button styling */
#search-button {
  width: 35px;
  height: 35px;
  padding: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-button svg {
  width: 100%;
  height: 100%;
  display: block;
  padding: 5px;
}

#weather-div {
  display: flex;
  background-color: lightblue;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  gap: 10px;
  padding: 10px;
}
#weather-div > * {
  margin: 0;
  padding: 0;
}
